.contact {
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 80px 0px;
    background-color: var(--background);
    color: var(--text-primary);
}

.content {
    font-size: var(--font-size-sm-2);
    max-width: 550px;
    line-height: 1.25rem;
}

.contact-options {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.contact-option {
    width: 240px;
    margin: 15px 0px;
    padding: 8px 15px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 8px;
    text-decoration: none;
}

.contact-option-1 {
    color: var(--text-highlight-primary);
    border-color: var(--text-highlight-primary);
}
.contact-option-1:hover {
    color: var(--white);
    background-color: var(--text-highlight-primary);
}

.contact-option-2 {
    color: var(--text-highlight-secondary);
    border-color: var(--text-highlight-secondary);
}
.contact-option-2:hover {
    color: var(--white);
    background-color: var(--text-highlight-secondary);
}

.contact-option-3 {
    color: var(--text-highlight-tertiary);
    border-color: var(--text-highlight-tertiary);
}
.contact-option-3:hover {
    color: var(--white);
    background-color: var(--text-highlight-tertiary);
}