.social-media {
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 40vh;
    left: 20px;
}

.social-media-list {
    list-style: none;
}

.social-media-item {
    font-size: var(--font-size-md-2);
    margin: 20px 10px;
}

.social-media-item a {
    color: var(--socialmedia);
}