.social-media {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.social-media-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.social-media-item {
    font-size: var(--font-size-sm);
    padding: 15px 15px;
}

.social-media-item:first-child {
    padding-left: 0px;
}

.social-media-item a {
    color: var(--socialmedia);
}