.exp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 80px 0px;
    background-color: var(--background);
    color: var(--text-primary);
}

.vertical-title {
    font-size: var(--font-size-lg);
    transform: rotate(-90deg);
    position: absolute;
    left: 0px;
    top: 185px;
}

.content {
    font-size: var(--font-size-xs);
    max-width: 600px;
    margin-left: 100px;
    line-height: 1.25rem;
}

.exp-list {
    display: flex;
    flex-direction: column;
}

.exp-block {
    margin-bottom: 20px;
}

.exp-timeline {
    color: var(--text-highlight-primary);
    font-weight: bold;
}

.exp-company {
    font-size: var(--font-size-md);
    font-weight: bold;
    line-height: 2.25rem;
}

.exp-position {
    margin-top: 5px;
}

.exp-position i {
    background-color: var(--text-highlight-primary-opacity);
    border-radius: 10px;
    padding: 2px 10px;
    color: var(--toggle-background);
    font-size: var(--font-size-sm-2);
}

.exp-description {
    margin-top: 5px;
    font-size: var(--font-size-xs);
}

.exp-description ul {
    margin-left: 20px;
}

@media screen and (max-width: 576px) {
    .content {
        padding-right: 10px;
    }
}