@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Montserrat&display=swap');

:root {
  --background: #F7FDFE;
  --background-opacity: rgba(247, 253, 254, 0.5);
  --text-primary: #004E60;
  --text-primary-opacity: rgba(0, 78, 96, 0.1);
  --text-highlight-primary: #00BCE5;
  --text-highlight-primary-opacity: rgba(0, 188, 229, 0.5);
  --text-highlight-secondary: #FFC700;
  --text-highlight-tertiary: #FF9595;
  --toggle-background: #ffffff;
  --toggle-color: #FFC700;
  --toggle-color-hover: #FFC700;
  --company: #A100FF;
  --white: #FFFFFF;
  --socialmedia: #004E60;
  --shadow: rgba(0, 0, 0, 0.25);

  --body-font: "Montserrat", san-serif;

  --font-size-xl: 7rem;
  --font-size-lg: 3rem;
  --font-size-md: 2.25rem;
  --font-size-md-2: 1.5rem;
  --font-size-sm: 2rem;
  --font-size-sm-2: 1rem;
  --font-size-sm-3: 1.2rem;
  --font-size-xs: 0.75rem;
}

[data-theme='dark'] {
  --background: #00262F;
  --background-opacity: rgba(0, 38, 47, 0.9);
  --text-primary: #F7FDFE;
  --text-primary-hover: #B3EBF8;
  --text-highlight-primary: #FFD232;
  --text-highlight-primary-opacity: #ffd232;
  --text-highlight-secondary: #FF9595;
  --text-highlight-tertiary: #00BCE5;
  --toggle-background: #003541;
  --toggle-color: #005D73;
  --toggle-color-hover: #005D73;
  --company: #BE82FF;
  --white: #FFFFFF;
  --socialmedia: #FFD232;
  --shadow: rgba(255, 255, 255, 0.25);
}

.app {
  background-color: var(--background);
  position: relative;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 20px;
}

.container-block {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 80px 0px;
  background-color: var(--background);
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--background);
  color: var(--text-primary);
  padding: 80px 0px;
}

.pl-6 {
  padding-left: 6rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.center {
  text-align: center;
}

.company {
  color: var(--company);
}

.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  font-size: var(--font-size-sm-2);
  margin-left: 100px;
}

.content-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px 50px;
  font-size: var(--font-size-sm-2);
}

.vertical-title {
  transform-origin: left;
  transform: translate(10%, 50%) rotate(90deg);
  font-size: var(--font-size-lg);
}

/*================================*/
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .skill-item {
    margin-left: 0px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --font-size-xl: 4.5rem;
    --font-size-lg: 2.5rem;
    --font-size-md: 1.75rem;
    --font-size-md-2: 1rem;
    --font-size-sm: 1.5rem;
    --font-size-sm-2: 0.75rem;
    --font-size-xs: 0.75rem;
  }

  .pl-6 {
    padding-left: 3rem;
  }

  .pb-3 {
    padding-bottom: 1.5rem;
  }

  .vertical-title {
    transform: none;
    position: relative;
    top: 0;
    left: 0;
  }

  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 350px) {}